<!-- BEGIN: main -->
<table class="table">
	<caption>
		{CAPTION}
	</caption>
	<thead>
		<tr>
			<td>Số</td>
			<td>Kết quả</td>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN: vonglap -->
		<tr>
			<td>{KQ.key}</td>
			<td>{KQ.value}</td>
		</tr>
		<!-- END: vonglap -->
	</tbody>
</table>
<!-- END: main -->