<!-- BEGIN: main -->
<ul class="nav navbar-nav navbar-right">
	<!-- BEGIN: top_menu -->
	<li>
		<a href="{TOP_MENU.link}">{TOP_MENU.title_trim}</a>
	</li>
	<!-- END: top_menu -->
</ul>
<!-- END: main -->