<!-- BEGIN: main -->
{FILE "header.tpl"}
	<section  id="services-sec">
		<div class="container">
			
		<div class="col-md-3 col-sm-3">
			[PACKAGE1]
		</div>
		<div class="col-md-6 col-sm-6">
			{MODULE_CONTENT}
		</div>
		<div class="col-md-3 col-sm-3">
			[PACKAGE2]
			[PACKAGE3]
		</div>				

		</div>
	</section>
	<!--END HOME SECTION-->
{FILE "footer.tpl"}
<!-- END: main -->